*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

.border{

    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}


.nav-bar{
    display: flex;
    height: 80px;
    background-color: #0f1111;
    display: flex;
    justify-content: space-evenly;
    
}

.nav-logo{
    height: 70px;
    align-items: center;
    justify-content: center;
    
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 80px;
    width:150px;
    
}

.nav-lo{

    height: 60px;
    width: 100px;
    background-color: transparent;
    position: relative;
    top:15px;
    
    
    border: 2px solid transparent;
}
.nav-location:hover{

    border: 2px solid white;
}

#deliver-to{

    align-self: flex-start;
    position: relative;
    left:px;
}


/*-----------------------------------------------*/

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    
}

#ALL{
    height:35px;
    width: 60px;
    background-color: grey;
    border-radius: 5px;
    
}
#input{
    height: 30px;
    width: 450px;
    border-radius: 5px;
}
#icon{
    height: 45px;
    width: 40px;
}

/*-----------------------------------------------*/

.nav-hello{
    width: 131px;
    border-top: 10px solid transparent;
    

}

.nav-select{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #0f1111;
}

#acc-list{

    height: 25px;
    width: 200px;
    background-color:#D6D6D6;
    color: #0f1111;
    border-radius:  5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*------------------------------------*/

.ret-or{
    height: 50px;
    width: 80PX ;
}
