*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

.border{

    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}


.nav-bar{
    display: flex;
    height: 80px;
    background-color: #0f1111;
    display: flex;
    justify-content: space-evenly;
    
}

.nav-logo{
    height: 70px;
    align-items: center;
    justify-content: center;
    
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 80px;
    width:150px;
    
}

.nav-lo{

    height: 60px;
    width: 100px;
    background-color: transparent;
    position: relative;
    top:15px;
    
    
    border: 2px solid transparent;
}
.nav-location:hover{

    border: 2px solid white;
}

#deliver-to{

    align-self: flex-start;
    position: relative;
    left:px;
}

.search-bar{
    height: 60px;
    display: flex;
    position: relative;
    top: 10px;
}

#ALL{
    height: 50px;
    background-color: grey;
    border-radius: 5px;
    
}
#input{
    height: 45px;
    border-radius: 5px;
}
.icon{

    height: 100px;
}
#con{
    height: 100px;
}